*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);

    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;

    background-color: rgba(255,255,255,0.08);

    padding: 30px;

    border-radius: 20px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h1{
    color: white;
    margin-bottom: 10px;
    font-size: 32px;
}

p{
    color: #cbd5e1;
    margin-bottom: 20px;
}

canvas{
    border: 4px solid #38bdf8;

    border-radius: 15px;

    background: radial-gradient(circle, #0f172a, #020617);

    box-shadow:
        0 0 15px #38bdf8,
        0 0 30px rgba(56,189,248,0.4);

    cursor: none;

    transition: 0.3s;
}

canvas:hover{
    transform: scale(1.02);
}