body{
    background-color: lightgray;
}
#id01{
    background-color: bisque;
    border: solid rgb(0, 0, 161);
    border-width: 5px;
    color: darkgreen;
    font-family: serif;
    padding: 100px;
    text-align: center;
    font-size: 30px;
    font-style: bold;
}
#id02{
    position: absolute;
    top: 20px;
    left: 20px;
}
#id03{
    position: absolute;
    top: 20px;
    right: 20px;
}
.class01{
    background-color: lightskyblue;
    color: darkred;
    text-align: center;
    padding: 30px;
}
#id04{
    position: absolute;
    left: 500px;
    top: 390px;
}
#id05{
    position: absolute;
    left: 800px;
    top: 390px;
}
#id06{
    position: absolute;
    right: 800px;
    top: 390px;
}
#id07{
    position: absolute;
    right: 500px;
    top: 390px;
}
#id08{
    text-align: center;
    color: black;
}
#id09{
    text-align: center;
    color: indigo;
    font-size: 30px;
}
#id10{
    text-align: center;
    color: indigo;
    font-size: 30px;
}
#id11{
    text-align: center;
    color: indigo;
    font-size: 30px;
}
#id12{
    text-align: center;
    color: black;
}
.class02{
    display: inline;
}
#id13{
    position: absolute;
    left: 300px;
}
#id14{
    position: absolute;
    left: 745px;
}
#id15{
    position: absolute;
    right: 300px;
}
#id16{
    text-align: center;
    color: black;
}
#id17{
    position: absolute;
    left: 360px;

}
#id18{
    position: absolute;
    right: 360px;
}
#id19{
    text-align: center;
    color: black;
}
.class03{
    display: flex;
    justify-content: center;
}
.class04{
    border-color: red;
    border-style: dashed;
}