body{
    background-color: navy;
}

.class01{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.class02{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.class03{
    border-color: white;
    border-collapse: collapse;
}

a:hover{
    color: white;
}