body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background:linear-gradient(rgb(30, 30, 251), blue, rgb(1, 1, 119));
    min-height: 100vh;
    margin: 7vh;
}
#id02{
    text-align: center;
    font-size: 40pt;
}
#id03{
    text-align:justify;
}
.class01{
    display:flex;
    align-items:center;
    gap: 70px;
    font-size: 30pt;
}
.class01 img{
    max-width: 400px;
    height: auto;
}
.class03{
    font-size: 20pt;
}
#id05{
    font-size: 20pt;
}
#id07{
    display: flex;
    justify-content:space-between;
    align-content: center;
}
.class02{
    color: white;
}
#id08{
    display: flex;
    justify-content: space-between;
}
#id09{
    color: white;
    font-size: 20pt;
    display: flex;
    justify-content: center;
}
a:hover{
    color: white;
}