body{
    background-color: white;
}
#canvas{
    background-color: #8cfbd3;

}
#canvasdiv{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#canvas2{
    background-color: white;

}
#canvasdiv2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(73, 1, 1)
}